= render partial:'shared/header'
.categories_edit_list
  .main-container
    .list-block
      .list-block__title ピックアップカテゴリー一覧
      =form_tag(categories_edit_list_staffs_path,method:"put") do
        -@l_categories.each do |category|
          =hidden_field_tag("[pick_up][#{category.id}]",false,id:"")
          =check_box_tag("[pick_up][#{category.id}]",true,checked = category.pick_up,class:'list-block__checkbox')
          =label_tag("_pick_up_#{category.id}",category.name,class:'list-block__menu')
        =submit_tag('ピックアップに選択',class:'list-block__submit')
= render partial:'shared/footer'
